<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><%= link_to "Home", current_user %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="form">
                    <%= form_for :tweet, url: search_tweets_path, html: {class: "navbar-form"} do |f| %>
                        <div class="form-group">
                            <%= f.text_field(:query, placeholder: "Search Twitter", class: "form-control") %>
                        </div>
                        <%= f.submit "Submit", class: "btn btn-default" %>
                    <% end %>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="padding-top: 2px; padding-bottom: 2px" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <%= image_tag current_user.info.profile_image_uri(size = :normal), class: "avatar size32 img-rounded" %>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to 'Logout', logout_path, method: :delete  %></li>
                    </ul>
                    <li style="margin-top: 10px"><!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" style="margin-right: 15px" data-toggle="modal" data-target="#tweetModal">
                            Tweet
                        </button>
                    </li>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <!-- Modal -->
        <div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="myModalLabel">Compose New Tweet</h4>
                    </div>
                    <div class="modal-body">
                        <%= form_for :tweet, url: tweets_path do |f| %>
                            <div class="form-group">
                                <%= f.text_area(:status, class: 'form-control')  %>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <%= f.submit "Tweet", class: "btn btn-info" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>
